@using ParkDistrict.Models;

@foreach (Park park in Model)
{
    <p>@Html.ActionLink($"{@park.Name}", "Details", "Parks", new {id = park.ParkId})</p>
}
<br>

<a href='@Url.Action("Create", "Parks")'>
    <img class="createImg", src='@Url.Content("~/img/add.jpg")' />
</a>