body {
    /* background-color: aquamarine; */
    background-image: url(../img/background.jpg);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans',
    sans-serif;
}
.splashHeader {
    margin-top: 100px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

h1 {

    font-size: 100px;
}






