body {
    /* background-color: aquamarine; */
    background-image: url(../img/background.jpg);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans',
    sans-serif;
}